<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://randomuser.me/api/portraits/women/1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Very Quick delivery and Fast Replay</h5>

      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" checked />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2"  />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1"  />
        <label for="star1" title="text">1 star</label>
      </div>
  
    
    </div>
  </div>

