<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="main-divider">
  <div class="second-divder">
    <a href="">My Works</a>
    <a href="">My Works</a>
    <a href="">My Works</a>
    <a href="">My Works</a>
  </div>
</div>
<div class="body-divider">
  <img
    class="logo"
    src="assets/images/images.png"
    style="height: 100px; width: 100px"
    alt="Italian Trulli"
  />
  <div>
    <a class="main-titele" href="">Camelia Craft</a>
  </div>

  <div>
    <a class="sub-titele" href="">🌸 Blooming with soulful beauty 🌸</a>
  </div>
  <div class="social-media">
    <img
      class="logo-social"
      src="assets/images/whatsapplogo.png"
      style="height: 35px; width: 35px"
      alt="Facebook"
    />
    <img
      class="logo-social"
      src="assets/images/fblogo.png"
      style="height: 35px; width: 35px"
      alt="Whatsapp"
    />
    <img
      class="logo-social"
      src="assets/images/tiktoklogo.png"
      style="height: 35px; width: 35px"
      alt="Tik tok"
    />
    <img
      class="logo-social"
      src="assets/images/instalogo.png"
      style="height: 35px; width: 35px"
      alt="Instagram"
    />
  </div>
  <div class="social-media-buttons">
    <div>
      <button class="whatsapp-btn">
        <a
          class="anch"
          href="whatsapp://send?phone=0785052139&text=Hello%20there!"
          ><i class="fa fa-whatsapp"></i> Whatsapp</a
        >
      </button>
    </div>
    <div>
      <button class="whatsapp-btn">
        <a
          href="https://web.facebook.com/profile.php?id=100068852666605"
          target="_blank"
          class="anch"
        >
          <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook
        </a>
      </button>
    </div>
    <div>
      <button class="whatsapp-btn">
        <a
          href="https://www.tiktok.com/@cameliazcraftgallery?is_from_webapp=1&sender_device=pc"
          target="_blank"
          class="anch"
        >
          <i class="fa-brands fa-tiktok"></i> Tik Tok
        </a>
      </button>
    </div>
    <div>
      <button class="whatsapp-btn">
        <a
          href="https://www.tiktok.com/@cameliazcraftgallery?is_from_webapp=1&sender_device=pc"
          target="_blank"
          class="anch"
        >
          <i class="fa fa-instagram"></i> Instagram
        </a>
      </button>
    </div>
    <div>
      <button class="whatsapp-btn">
        <a
          href="https://www.tiktok.com/@cameliazcraftgallery?is_from_webapp=1&sender_device=pc"
          target="_blank"
          class="anch"
        >
          <i class="fa fa-envelope"></i> Email
        </a>
      </button>
    </div>
  </div>
</div>
<div class="footer">Proudly Made in Sri Lanka with ❤️ Janith</div>
<router-outlet />
